.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: var(--font-mono);
  color: #e8e6e3;
  background-color: #1b1e1f;
}

.register {
  width: 300px;
  margin: 0 auto;
}

.register label {
  display: block;
  margin-bottom: 10px;
}

.register input {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-family: var(--font-mono);
}

.register button {
  width: 100%;
  padding: 10px;
  background-color: #0f0f11;
  color: #e8e6e3;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: var(--font-mono);
}

.register button:hover {
  background-color: #3c3c44;
}